input[type="search"] {
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: solid 1px #ccc;
    margin: 2rem 0 0 0;

    appearance: none;
    
    line-height: inherit;
    
    & + #indexlist {
        margin-top: 1rem;
    }
}

.filter-miss {
    display: none;
    /* opacity: 0.2; */
}

